<!DOCTYPE html>
<html>
  <head>
    <title>BookOfFaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.fblogoURL = "<%= image_url('facebook-logo-2019.png') %>";
      window.dropdownarrowURL = "<%= image_url('drop-down-arrow.png') %>";
      window.addphotoURL = "<%= image_url('add-photo-icon.png') %>";
      window.defaultphotoURL = "<%= image_url('default-profile-pic') %>";
      window.likeIconURL = "<%= image_url('facebook-like-icon.png') %>";
      window.commentIconURL = "<%= image_url('facebook-comment-icon.png') %>";
      
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
